.d-flex{
    display: flex;
}
.d-block{
display: block;
}
.mr-20px {
    margin-right:20px;
}
.mt-10px{
    margin-top: 100px;
}
.p-15px{
    padding:30px;
}
.pr-15px{
    padding-left: 15px;
}
.mr-120px{
    margin-right: 150px;
}
.mr-30px{
    margin-right:115px;
}
